{#{% load friendly bootstrap_toolkit i18n %}#}
{% load i18n %}
<style type="text/css" xmlns="http://www.w3.org/1999/html">
    {#    form[name="SPACE-EXPO-2013"] textarea { width:300; height: 200px; }#}
    form[name="{{ form_definition.name|upper }}"] span.radio { display: block;min-height: 15px;}
    form[name="{{ form_definition.name|upper }}"] span.radio label {  width: 50px;}
    form[name="{{ form_definition.name|upper }}"] textarea.disabled {  height: 120px; width: 430px;}
    form[name="{{ form_definition.name|upper }}"] label[for="id_Newsletter"] { width: 200px; }
    form[name="{{ form_definition.name|upper }}"] .ui-state-highlight p { margin-top: 10px; }
    form[name="{{ form_definition.name|upper }}"] .ui-state-error p { margin-top: 10px; }
    form[name="{{ form_definition.name|upper }}"] div.errorlist { margin: 4px 0; background-color: #E6E6E6; }
    form[name="{{ form_definition.name|upper }}"] ul.errorlist { margin: 2px 0; }
    form[name="{{ form_definition.name|upper }}"] ul { list-style: none; margin: 2px 0;}
    form[name="{{ form_definition.name|upper }}"] ul li { list-style: none; margin-left: 120px; }
    form[name="{{ form_definition.name|upper }}"] ul li label { float: none; }
    form[name="{{ form_definition.name|upper }}"] p { margin-top: 20px; }
    form[name="{{ form_definition.name|upper }}"] label span.small { color: #a9a9a9; font-size: 90%; text-align: right; width: 128px; }
    form[name="{{ form_definition.name|upper }}"] .controls { margin-left: 115px; }
    form[name="{{ form_definition.name|upper }}"] .control-label { width: 100px; }
    form[name="{{ form_definition.name|upper }}"] input[type="text"] , select { margin-left: 20px; width: 230px; }
    form[name="{{ form_definition.name|upper }}"] input[type="submit"] { margin: 20px 0px 10px 70px; }
    form[name="{{ form_definition.name|upper }}"] input[type="checkbox"]  { margin-left: 15px; margin-top: 0px; }
    form[name="{{ form_definition.name|upper }}"] label[for="id_newsletter"] { width: 198px; margin-left: 26px; margin-top: 35px; }
    form[name="{{ form_definition.name|upper }}"] label { text-align:right;float:left;width: 120px;}
    form[name="{{ form_definition.name|upper }}"] input.disabled {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 0px;
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 0px;
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 0px;
        background: none;
        color: #5c2114;
        font-family: 'PT Sans Narrow', 'Istok Web', "Lucida Grande";
        font-size: 20px;
        margin: 15px 0 20px 0px;
        padding: 0 11px;
        width: 391px;
        border:solid 0px #7a3f55;
    }
    form[name="{{ form_definition.name|upper }}"] p#partenza {
        margin-top: 25px;
    }
    form[name="{{ form_definition.name|upper }}"] p#altracitta {
        margin-top: -2px;
    }
    form[name="{{ form_definition.name|upper }}"] input#id_intropartenza {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 0px;
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 0px;
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 0px;
        background: none;
        color: #5c2114;
        margin: 0px 0 0px 0px;
        font-family: 'PT Sans Narrow', 'Istok Web', "Lucida Grande";
        font-size: 20px;
        padding: 0 11px;
        width: 30px;
        border:solid 0px #7a3f55;
        display: none;
    }
    form[name="FOCUS-JUNIOR-CAMP-2014"] label[for="id_intropartenza"] {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    form[name="FOCUS-JUNIOR-CAMP-2014"] label[for="id_intropartenza"] span {
        width: 100%;
    }
</style>
<hr>
<form class="form" name="{{ form_definition.name|upper }}" action="{{ form_definition.action }}"
      method="{{ form_definition.method }}" enctype="multipart/form-data">
    {% for entry in logs %}
        {% for field in entry.data %}
            <p>
                <label for="">{{ field.label }}</label>
                {#                {{ field.value|friendly }}#}
            </p>
        {% endfor %}
    {% endfor %}
    {% if form_success %}
        <div class="ui-widget">
            <div class="ui-state-highlight ui-corner-all">
                <p><span class="ui-icon ui-icon-check" style="float: left; margin-right: .3em;"></span>
                    <strong>{% trans "Successo" %}!</strong> {% if form_definition.success_message %}
                        {{ form_definition.success_message }} {% else %}Data was sent correctly. Thanks for partecipating.
                    {% endif %}.</p>
            </div>
        </div>
    {% endif %}
    {% if form_error %}
        <div class="ui-widget">
            <div class="ui-state-error ui-corner-all">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>{% trans "Errore " %}!</strong> {% if form_definition.error_message %}{{ form_definition.error_message }}{% else %} Error occurred. Please fill correct value.
                    {% endif %}.</p>
            </div>
        </div>
    {% endif %}
    {% comment %}{{ form|as_bootstrap }}{% endcomment %}

    <div class="span6 pull-left">
        {% for field in form %}
            {% if forloop.counter <= 11 %}
                {% if not field.is_hidden %}
                    {% if field.errors %}<div class="errorlist ui-state-default ui-corner-all">{{ field.errors }}</div>{% endif %}
                    <p class="field {% if field.errors %}errors{% endif %}{% if field.field.required %}{% if field.errors %}{% endif %}required{% endif %}">
                        <label for="{{ field.auto_id }}">{{ field.label }}<br/><span class="small">{{ field.help_text }}</span></label>
                        {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="span6 pull-right">
        {% for field in form %}
            {% if forloop.counter > 11 %}
                {% if not field.is_hidden %}
                    {% if field.errors %}<div class="errorlist ui-state-default ui-corner-all">{{ field.errors }}</div>{% endif %}
                    <p id="{{ field.name }}" class="field {% if field.errors %}errors{% endif %}{% if field.field.required %}required{% endif %}">
                        <label for="{{ field.auto_id }}">{{ field.label }}<br/><span class="small">{{ field.help_text }}</span></label>
                        {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="span6 offset6 form-actions">
            <input class="btn btn-large btn-info" type="submit" value="{% if form_definition.submit_label %}{{ form_definition.submit_label }}{% else %}{% trans "Submit" %}{% endif %}" />
        </div>
    </div>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% csrf_token %}
</form>
<script type="text/javascript">

    $( document ).ready(function() {
        var formplus = $("form[name='{{ form_definition.name|upper }}'] div.ui-widget").clone().get(0);
        var par = $("div.container.content").get(0);
        par.insertBefore(formplus, par.firstChild);
    });

</script>